@import '../../../styles/partials/variables'

//role
.listRoles_role
    margin-top: 5px
    &_title
        color: $black
        display: flex
        padding-bottom: 10px
        font-family: ubuntu-light
        cursor: pointer
    .circle
        display: inline-block
        margin-right: 20px
        margin-left: 65px
        height: 16px
        width: 16px
        border: 2px solid $black
        border-radius: 25px
    .funcCRUD
        display: flex
        display: none
        padding: 25px 0 35px 0
        border:
            top: 1px solid $gray
            bottom: 1px solid $gray
        &_item:nth-child(2) span:first-child
            color: $ligtht-black
        &_item:nth-child(3) span:first-child
            color: $green
        &_item:nth-child(4) span:first-child
            color: $orange
        &_item
            position: relative
            border: 1px solid $gray
            height: 24px
            width: 24px
            border-radius: 30px
            margin-left: 24px
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            span:first-child
                font-size: 35px
                color: $ligtht-black
            span:last-child
                position: absolute
                right: 0px
                font-size: 10px
                bottom: -20px
                font-family: ubuntu-light
                color: #6e6e6e
                letter-spacing: .06em
        button
            border: none
            background-color: $ligtht-black
            border-radius: 8px
            color: #ffffff
            height: 32px
            width: 64px
            margin-left: 27px
            font-family: ubuntu-regular
            font-size: 16px
            font-weight: light
            cursor: pointer

